﻿<script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>
<script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>
	
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=0.5">

</head>
	
<body style='margin : 0px; overflow: hidden;'>
	
    <a-scene embedded arjs='sourceType: webcam;'>
		
      <!-- <a-marker-camera type='pattern' patternUrl='patt.hiro'> -->
		
		<a-marker preset='hiro'>
			<a-entity 
				obj-model="obj: url(Ferrari_Modena_Spider.obj); 
				mtl: url(Ferrari_Modena_Spider.mtl)">
			</a-entity>
		</a-marker>
      <!-- </a-marker-camera> -->
		<a-entity camera> </a-entity>
  </a-scene>

</body>